CONFIG_SERIAL_UARTLITE_NR_UARTS=16

## add remaining memory domains
# CONFIG_VIRTIO_PMEM is not set
CONFIG_LIBNVDIMM=y
CONFIG_BLK_DEV_PMEM=y
CONFIG_ND_BLK=y
CONFIG_ND_CLAIM=y
CONFIG_ND_BTT=y
CONFIG_BTT=y
CONFIG_OF_PMEM=y
CONFIG_DAX_DRIVER=y
CONFIG_DAX=y
# CONFIG_DEV_DAX is not set
CONFIG_MEMREGION=y
CONFIG_RMDOM=y
